.single {
  display: flex;
  width: 100%;

  .single-container {
    flex: 6;

    .top {
      display: flex;
      padding: 20px;
      gap: 20px;
      .left {
        flex: 1;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        padding: 20px;
        position: relative;

        .edit-btn {
          position: absolute;
          top: 0;
          right: 0;
          padding: 8px 20px;
          font-size: 15px;
          color: #7451f8;
          background-color: #7551f818;
          cursor: pointer;
          border-radius: 0px 0px 0px 5px;
        }

        .item {
          display: flex;
          gap: 30px;

          .item-img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            object-fit: cover;
            margin-top: 20px;
          }

          .details {
            margin-top: 20px;
            .item-title {
              font-size: 3rem;
              margin-bottom: 10px;
              color: #555;
            }
            .detail-item {
              margin-bottom: 10px;
              font-size: 1rem;
              .item-key {
                font-weight: bold;
                color: gray;
                margin-right: 5px;
              }
              .item-value {
                font-weight: 300;
              }
            }
          }
        }
      }
      .right {
        flex: 2;
      }
      .title {
        font-size: 2rem;
        color: lightgray;
        margin-bottom: 20px;
      }
    }
    .bottom {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 20px;
      margin: 10px 20px;
    }
  }
}
